.slider-wrapper {
  margin-top: 20px;
  position: relative; }
  .slider-wrapper .slider .slide {
    max-height: 100%;
    width: 200px; }
    .slider-wrapper .slider .slide img {
      max-height: 260px;
      max-width: 150px;
      min-height: 260px; }

#filter-movies {
  float: right;
  width: 200px; }
  #filter-movies option {
    width: 200px; }

.prev, .next {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 50%; }
  .prev:before, .next:before {
    background-image: url(/src/svg/right-chevron.svg);
    content: '';
    display: block;
    width: 30px;
    height: 30px; }

.prev {
  left: -4%; }
  .prev:before {
    transform: scaleX(-1); }

.next {
  right: -4%; }

@media screen and (max-width: 540px) {
  .slider-wrapper {
    margin-top: 20px;
    margin-left: 10%; }
    .slider-wrapper .slider .slide {
      max-height: 100%;
      width: 250px; }
      .slider-wrapper .slider .slide img {
        max-height: 150px;
        max-width: 100px;
        min-width: 100px;
        min-height: 150px; }
  #filter-movies {
    float: left;
    width: 100%; }
    #filter-movies option {
      width: 100%; }
  .prev {
    left: -10%; } }

.feature-movie {
  margin-bottom: 20px; }
  .feature-movie .poster {
    max-height: 450px;
    padding-top: 20px; }
    .feature-movie .poster img {
      max-height: 380px; }
  .feature-movie .feature-title {
    font-size: 40px; }
  .feature-movie .content {
    vertical-align: top; }
    .feature-movie .content .feature-data .meta-title {
      font-size: 12px;
      text-transform: capitalize;
      font-weight: bold; }
      .feature-movie .content .feature-data .meta-title .meta-content {
        font-weight: normal; }

.desktop {
  display: block; }

.mobile {
  display: none; }

@media screen and (max-width: 991px) {
  .feature-movie .poster img {
    max-height: 250px; }
  .feature-movie .feature-title {
    font-size: 20px; }
  .feature-movie .feature-data {
    max-height: 250px;
    overflow: scroll; } }

@media screen and (max-width: 540px) {
  .desktop {
    display: none; }
  .mobile {
    display: block; }
  .mobile .feature-title {
    font-size: 5vw; }
  .feature-movie .poster {
    padding-top: 0;
    padding-left: 50px; } }
