.slider-wrapper {
    margin-top: 20px;
    position: relative;
    .slider {

        .slide {
            max-height: 100%;
            width: 200px;
            img {
                max-height: 260px;
                max-width: 150px;
                min-height: 260px
            }
        }
    }
}
#filter-movies {
    float: right;
    width: 200px;
    option {
        width: 200px;
    }
}


.prev, .next {
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 50%;
    &:before {
        background-image: url(/src/svg/right-chevron.svg);
        content: '';
        display: block;
        width: 30px;
        height: 30px;
    }

}
.prev {
    left: -4%;
    &:before {
        transform:scaleX(-1);
    }
}
.next {
    right: -4%;
}
@media screen and (max-width: $break-large) {

}
@media screen and (max-width: $break-small) {
    .slider-wrapper {
        margin-top: 20px;
        margin-left: 10%;
        .slider {

            .slide {
                max-height: 100%;
                width: 250px;
                img {
                    max-height: 150px;
                    max-width: 100px;
                    min-width: 100px;
                    min-height: 150px
                }
            }
        }
    }
    #filter-movies {
        float: left;
        width: 100%;
        option {
            width: 100%;
        }
    }
    .prev {
        left: -10%;
    }
}
